{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
</head>
<body>
    <div class="container">
        <h1>Produtos</h1>
        <p>Bem-vindo à página de produtos.</p>
        <ul>
            {% for produto in produtos %}
                <li>{{ produto }}</li>
            {% endfor %}
        </ul>
    </div>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
